apiVersion: secrets-store.csi.x-k8s.io/v1alpha1
kind: SecretProviderClass
metadata:
  name: aws-secrets
  namespace: israel-app
spec:
  provider: aws
  parameters:
    objects: |
      - objectName: "luxe-jewelry-db-password"
        objectType: "secretsmanager"
---
apiVersion: v1
kind: Pod
metadata:
  name: app-with-secrets
  namespace: israel-app
spec:
  containers:
  - name: app
    image: nginx
    volumeMounts:
    - name: secrets-store
      mountPath: "/mnt/secrets"
  volumes:
  - name: secrets-store
    csi:
      driver: secrets-store.csi.k8s.io
      volumeAttributes:
        secretProviderClass: "aws-secrets"
