apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapUsers: |
    - userarn: arn:aws:iam::992398098051:user/aws-user
      username: aws-user
      groups:
        - system:masters
