apiVersion: apps/v1
kind: Deployment
metadata:
  name: luxe-jewelry-backend
  namespace: israel-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: luxe-jewelry-backend
  template:
    metadata:
      labels:
        app: luxe-jewelry-backend
    spec:
      containers:
      - name: backend
        image: 992398098051.dkr.ecr.us-east-1.amazonaws.com/aws-project:latest
        ports:
        - containerPort: 3000
        env:
        - name: NODE_ENV
          value: "production"
        - name: PORT
          value: "3000"
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: luxe-jewelry-service
  namespace: israel-app
spec:
  selector:
    app: luxe-jewelry-backend
  ports:
  - protocol: TCP
    port: 80
    targetPort: 3000
  type: LoadBalancer
