apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: aws-secrets
  namespace: israel-app
spec:
  provider: aws
  parameters:
    objects: |
      - objectName: "luxe-jewelry-store/db-password"
        objectType: "secretsmanager"
        objectAlias: "db-password"
      - objectName: "luxe-jewelry-store/api-key"
        objectType: "secretsmanager"
        objectAlias: "api-key"
  secretObjects:
  - secretName: app-secrets
    type: Opaque
    data:
    - objectName: db-password
      key: DB_PASSWORD
    - objectName: api-key
      key: API_KEY
