apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: luxe-jewelry-store
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Israelatia/Luxe-Jewelry-Store
    targetRevision: main
    path: k8s/my-python-app-chart
    helm:
      valueFiles:
      - values.yaml
      parameters:
      - name: image.tag
        value: "{{.Values.image.tag}}"
  destination:
    server: https://kubernetes.default.svc
    namespace: app
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
